body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full height of the viewport */
    margin-top: 10px;
    margin-bottom: 10px;
}

.calculator {
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsl(0, 0%, 10%);
    border: none;
    max-width: 500px;
    border-radius: 15px;
    padding: 25px;
    overflow: hidden;
    user-select: none;
    outline: none
}

#display {
    caret-color: transparent;
    width: 100%; /* Takes the full width */
    color: white;
    padding: 20px;
    font-size: 4rem;
    text-align: right;
    border: none;
    background-color: hsl(0, 0%, 30%);
    box-sizing: border-box; /* Ensure padding doesn’t overflow the width */
    grid-column: span 4; /* Makes the display span across 4 columns */
    margin-bottom: 10px; /* Optional margin to separate from the buttons */
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    width: 100px;
    height: 100px;
    background-color: hsl(0, 0%, 20%);
    color: white;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-radius: 50%;
}

button:hover {

    background-color: hsl(0, 0%, 40%);

}
button:active {

    background-color: hsl(0, 0%, 50%);

}
.operator{
    background-color: hsl(39, 100%, 50%);
}
.operator:hover{
    background-color: hsl(39, 100%, 65%);
}
.operator:active{
    background-color: hsl(39, 100%, 75%);
}